@model Hangar.Restaurant.Models.RegisterVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            @using (Html.BeginForm("Register", "Dashboard", FormMethod.Post))
            {
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                    <br />
                    @Html.ValidationMessageFor(m=>m.Email, "",new { @class = "text-danger" })
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Create password" })
                    <br />
                    @Html.ValidationMessageFor(m=>m.Password, "",new { @class = "text-danger" })
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repeat password" })
                    <br />
                    @Html.ValidationMessageFor(m=>m.ConfirmPassword, "",new { @class = "text-danger" })
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? @Html.ActionLink("Log in", "Login", "Dashboard") </p>
                if(@ViewBag.StatusMessage != null)
                {
                <p class="text-center text-danger">@ViewBag.StatusMessage</p>
                }
            }
        </article>
    </div> <!-- card.// -->

</div>

