@*@model Hangar.Restaurant.Models.MenuSection*@
@*@model IEnumerable<Hangar.Restaurant.DB.Database.Models.MenusEntity>*@
@*@model IEnumerable<Hangar.Restaurant.DB.Database.Models.MenuTypeEntity>*@
@model Hangar.Restaurant.ViewModels.MenuViewModel

<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>@Model.Title</h2>
                        <p>@Model.Description</p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                    @foreach (var item in Model.menuType)
                    {
                        <a class="nav-link" id="@item.Name-tab" data-toggle="pill" href="#@item.Name" role="tab" aria-controls="v-pills-profile" aria-selected="false">@item.Name</a>

                    }
                    @*<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drinks</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lunch</</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dinner</a>*@
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            @foreach (var item in Model.menus)
                            {
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                            <h5>$@Html.DisplayFor(modelItem => item.Price)</h5>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                    @foreach (var types in Model.menuType)
                    {
                        <div class="tab-pane fade" id="@types.Name" role="tabpanel" aria-labelledby="@types.Name-tab">
                            <div class="row">
                                @foreach (var item in Model.menus)
                                {
                                    <div class="col-lg-4 col-md-6 special-grid drinks">
                                        <div class="gallery-single fix">
                                            <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-fluid" alt="Image">
                                            <div class="why-text">
                                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                                <h5>$@Html.DisplayFor(modelItem => item.Price)</h5>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }
                    </div>

            </div>
        </div>

    </div>
</div>