@model Hangar.Restaurant.Models.MenusViewModel
@{ 
    Layout = "~/Views/Shared/Menu_Layout.cshtml";
}

<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>@Model.Title</h2>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                    @foreach (var type in Model.menuTypesList)
                    {
                        <a class="nav-link" id="@type.Name-tab" data-toggle="pill" href="#@type.Name" role="tab" aria-controls="@type.Name" aria-selected="false">@type.Name.ToUpper().Substring(0, 1)@type.Name.ToLower().Substring(1)</a>
                    }

                </div>
            </div>

            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div id="sorting" class="btn btn-lg btn-circle btn-outline-new-white" style="margin-left: 75%;">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Sorting</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                <a class="dropdown-item" onclick="sorting('nameAsc')">Name  </a>
                                <a class="dropdown-item" onclick="sorting('priceDsc')">Price</a>
                                <a class="dropdown-item" onclick="sorting('typeSort')">Type</a>
                            </div>
                        </div>
                        <div class="row rowToSort">
                            @foreach (var item in Model.menulistVM)
                            {
                                <div class="col-lg-4 col-md-6 special-grid all allSort type">
                                    <div class="gallery-single fix @item.Type.Name ">
                                        <img src="@item.Image" class="img-fluid" alt="Image">
                                        <div class="why-text ">
                                            <h4 class="name">@item.Name</h4>
                                            <p>@item.Description</p>
                                            <h5 class="price">RS @item.Price</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="btnLoadMore">
                            <button type="button" class="btn btn-lg btn-circle btn-outline-new-white">Load More</button>
                        </div>
                    </div>
                    @foreach (var type in Model.menuTypesList)
                    {
                        <div class="tab-pane fade" id="@type.Name" role="tabpanel" aria-labelledby="@type.Name-tab">
                            <div class="row">
                                @foreach (var item in Model.menulistVM)
                                {
                                    if (item.Type.Name == type.Name)
                                    {
                                        <div class="col-lg-4 col-md-6 special-grid @item.Type.Name">
                                            <div class="gallery-single fix">
                                                <img src="@item.Image" class="img-fluid" alt="Image">
                                                <div class="why-text">
                                                    <h4>@item.Name</h4>
                                                    <p>@item.Description</p>
                                                    <h5>RS @item.Price </h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div id="btn-@type.Name">
                                    <button type="button" class="btn btn-lg btn-circle btn-outline-new-white">Load More</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
